<!DOCTYPE html >
<div xmlns:th="http://www.thymeleaf.org">
<div th:fragment="comment_question">
    <div class="feed-item folding feed-item-hook feed-item-2
                        " feed-item-a="" data-type="a" id="feed-2" data-za-module="FeedItem" data-za-index=""  >
        <meta itemprop="ZReactor" data-id="389034" data-meta="{&quot;source_type&quot;: &quot;promotion_answer&quot;, &quot;voteups&quot;: 4168, &quot;comments&quot;: 69, &quot;source&quot;: []}">
        <div class="feed-item-inner">
            <div class="avatar">
                <div th:title="${vo.dataJSON.userName}"  data-tip="p$t$amuro1230" class="zm-item-link-avatar" target="_blank" th:href="@{'/user/'+${vo.dataJSON.userId}}">
                    <img th:src="@{${vo.dataJSON.userHead}}" class="zm-item-img-avatar"></div>
            </div>
            <div class="feed-main">
                <div class="feed-content" data-za-module="AnswerItem">
                    <meta itemprop="answer-id" content="389034">
                    <meta itemprop="answer-url-token" content="13174385">
                    <!--
                    <h2 class="feed-title">
                        <a class="question_link" target="_blank" href="/question/$!{vo.questionId}">$!{vo.questionTitle}</a></h2>
                    <div class="feed-question-detail-item">
                        <div class="question-description-plain zm-editable-content"></div>
                    </div>
                    -->
                    <div class="expandable entry-body">
                        <!--
                        <div class="zm-item-vote">
                            <a class="zm-item-vote-count js-expand js-vote-count" href="javascript:;" data-bind-votecount="">${vo.followCount}</a></div>
                            -->
                        <div class="zm-item-answer-author-info">
                            <a class="author-link" data-tip="p$b$amuro1230" target="_blank" th:href="@{'/user/'+${vo.dataJSON.userId}}"><a th:text="${vo.dataJSON.userName}"></a></a>
                            评论了该问题 ，<a th:text="${#dates.format(vo.getCreateDate(),'yyyy-MM-dd HH:mm:ss')}"></a></div>
                        <!--
                        <div class="zm-item-vote-info" data-votecount="4168" data-za-module="VoteInfo">
                            <span class="voters text">
                                <a href="#" class="more text">
                                    <span class="js-voteCount">4168</span>&nbsp;人赞同</a></span>
                        </div>
                        -->
                        <div class="zm-item-rich-text expandable js-collapse-body" data-resourceid="123114" data-action="/answer/content" data-author-name="李淼" data-entry-url="/question/19857995/answer/13174385">
                            <div class="zh-summary summary clearfix" th:text="${vo.dataJSON.questionTitle}"></div>
                        </div>
                    </div>
                    <!--
                    <div class="feed-meta">
                        <div class="zm-item-meta answer-actions clearfix js-contentActions">
                            <div class="zm-meta-panel">
                                <a data-follow="q:link" class="follow-link zg-follow meta-item" href="javascript:;" id="sfb-123114">
                                    <i class="z-icon-follow"></i>关注问题</a>
                                <a href="#" name="addcomment" class="meta-item toggle-comment js-toggleCommentBox">
                                    <i class="z-icon-comment"></i>${vo.question.commentCount} 条评论</a>


                                <button class="meta-item item-collapse js-collapse">
                                    <i class="z-icon-fold"></i>收起</button>
                            </div>
                        </div>

                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="follow_question">
    <div class="feed-item folding feed-item-hook feed-item-2
                        " feed-item-a="" data-type="a" id="feed-2" data-za-module="FeedItem" data-za-index=""  >
        <meta itemprop="ZReactor" data-id="389034" data-meta="{&quot;source_type&quot;: &quot;promotion_answer&quot;, &quot;voteups&quot;: 4168, &quot;comments&quot;: 69, &quot;source&quot;: []}">
        <div class="feed-item-inner">
            <div class="avatar">
                <div th:title="${vo.dataJSON.userName}"  data-tip="p$t$amuro1230" class="zm-item-link-avatar" target="_blank" th:href="@{'/user/'+${vo.dataJSON.userId}}">
                    <img th:src="@{${vo.dataJSON.userHead}}" class="zm-item-img-avatar"></div>
            </div>
            <div class="feed-main">
                <div class="feed-content" data-za-module="AnswerItem">
                    <meta itemprop="answer-id" content="389034">
                    <meta itemprop="answer-url-token" content="13174385">
                    <!--
                    <h2 class="feed-title">
                        <a class="question_link" target="_blank" href="/question/$!{vo.questionId}">$!{vo.questionTitle}</a></h2>
                    <div class="feed-question-detail-item">
                        <div class="question-description-plain zm-editable-content"></div>
                    </div>
                    -->
                    <div class="expandable entry-body">
                        <!--
                        <div class="zm-item-vote">
                            <a class="zm-item-vote-count js-expand js-vote-count" href="javascript:;" data-bind-votecount="">${vo.followCount}</a></div>
                            -->
                        <div class="zm-item-answer-author-info">
                            <a class="author-link" data-tip="p$b$amuro1230" target="_blank" th:href="@{'/user/'+${vo.dataJSON.userId}}"><a th:text="${vo.dataJSON.userName}"></a></a>
                            关注了该问题 ，<a th:text="${#dates.format(vo.getCreateDate(),'yyyy-MM-dd HH:mm:ss')}"></a></div>
                        <!--
                        <div class="zm-item-vote-info" data-votecount="4168" data-za-module="VoteInfo">
                            <span class="voters text">
                                <a href="#" class="more text">
                                    <span class="js-voteCount">4168</span>&nbsp;人赞同</a></span>
                        </div>
                        -->
                        <div class="zm-item-rich-text expandable js-collapse-body" data-resourceid="123114" data-action="/answer/content" data-author-name="李淼" data-entry-url="/question/19857995/answer/13174385">
                            <div class="zh-summary summary clearfix" th:text="${vo.dataJSON.questionTitle}"></div>
                        </div>
                    </div>
                    <!--
                    <div class="feed-meta">
                        <div class="zm-item-meta answer-actions clearfix js-contentActions">
                            <div class="zm-meta-panel">
                                <a data-follow="q:link" class="follow-link zg-follow meta-item" href="javascript:;" id="sfb-123114">
                                    <i class="z-icon-follow"></i>关注问题</a>
                                <a href="#" name="addcomment" class="meta-item toggle-comment js-toggleCommentBox">
                                    <i class="z-icon-comment"></i>${vo.question.commentCount} 条评论</a>


                                <button class="meta-item item-collapse js-collapse">
                                    <i class="z-icon-fold"></i>收起</button>
                            </div>
                        </div>

                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</html>